.App{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;

    .Content{
        flex: 1;
        padding: 10px;
        display: flex;
        flex-direction: row;

        .Title{
            color: #303030;
            font-size: 28px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }

        .Reservations{
            width: 60%;
            height: 100%;
            padding: 20px;
            display: flex;
            flex-direction: column;
            gap: 10px;

            .Greeting{
                color: rgba(54, 159, 255, 1);
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 0.9px;

            }

            .Occupied{
                height: 40%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;

                .Cards{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    height: 70%;
                }
            }

            .Current{
                height: 50%;
            }
        }

        .Statistics{
            width: 40%;
            height: 100%;
            border-left: 2px solid rgba(240, 240, 240, 1);
            padding: 20px;
            position: relative;

            .Stats{
                position: absolute;
                bottom: 0;
                width: 27vw;
                height: 30vh;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }

    .card {
        width: 45%;
        height: 80%;
        margin: 10px;
        border-radius: 20px;
        color: white;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}